body {
	padding: 50px;
	font: 14px "Courier New", sans-serif;
	background-color: #000;
	color: #fff;
}
a {
	color: #fff;
}
p {
	margin: 0px;
	color: #BBBBBB;
}
.green {
	color: #00AA00;
}
.cyan {
	color: #00AAAA;
}
.blue{
	color: #5555FF;
}
.brightgreen {
	color: #55FF55;
}